@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf");
  font-style: bold;
  font-display: swap;
}
/* html {
  font-size: 62.5%;
} */
body {
  margin: 0 auto;
  font-family: "OpenSans-Regular", "OpenSans-Bold", Arial, san-serif;
}
h4,
h3,
h2,
time {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
.header {
  width: 100%;
  box-sizing: border-box;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  padding: 0 15px 128px;
  margin: 0 auto;
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.wrap {
  /* justify-content: space-between; */
  align-items: center;
  display: flex;

  padding: 27px 15px 0;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.menu_logo {
  width: 178px;
}

.menu_list {
  display: flex;
  margin-left: 530px;
}

.hamburger {
  display: none;
}

.menu_item:not(:last-child) {
  margin-right: 35px;
}

.list_link {
  color: #ffffff;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  font-size: 13px;
}

.list_link:hover {
  text-decoration: underline;
}
.menu_logo-second {
  display: none;
}
.header_title {
  display: block;
  font-family: "OpenSans-Bold";
  text-align: center;
  width: 45%;
  text-transform: uppercase;
  font-size: 45px;
  color: #ffffff;
  font-weight: 800;
  font-style: bold;
  line-height: 1.66;
  margin-top: 100px;
  margin-bottom: 0;

  margin-left: auto;
  margin-right: auto;
}
/* Тренды */
.aside_content {
  width: 100%;
  margin-top: 61px;
}

.header_title_box {
  display: flex;
  font-family: OpenSansBold, sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.trend_title {
  font-size: 20px; /*перевести*/
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 0;
}

.trend_title::after {
  content: "";
  display: block;
  height: 3px;
  background: #b59f5b;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
}
.trend_items_container {
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 24px;
}

.trend_item {
  display: flex;

  width: calc(100% / 4 - 6px);
  align-items: flex-end;
  min-height: 240px;
  flex-grow: 1;
  position: relative;
}
.trend_item::before {
  content: "";
  display: block;
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
}

.trend_items_bkg1 {
  background-image: url("../img/trend1.jpg");
  background-color: #999999;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.trend_items_bkg2 {
  background-image: url("../img/trend2.jpg");
  background-color: #999999;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.trend_items_bkg3 {
  background-image: url("../img/trend3.jpg");
  background-color: #999999;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.trend_items_bkg4 {
  background-image: url("../img/trend4.jpg");
  background-color: #999999;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.title_content {
  box-sizing: border-box;
  text-align: left;
  border: 3px solid #b59f5b;
  margin: 0 24px 15px 20px;
  padding: 33px 5px 32px 32px;
  /* width: 70%; */
  line-height: 1.1;
  z-index: 2;
}

.subject_trend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 1.1;
}

.title_trend_item:nth-child(n + 1) {
  margin-right: 10px;
}

.category_trend_item {
  font-family: OpenSansBold, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #b59f5b;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.1;
}
.category_trend_item:hover {
  text-decoration: underline;
  color: #b59f5b;
}
.top_trend {
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  line-height: 0.5;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 17px;
}
.top_trend:hover {
  color: #baa566;
}

/* Основная часть */
.wrp {
  max-width: 1220px;
  margin: 0 auto;
}
.content {
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: space-between;
  gap: 94px;
  padding: 60px 0 0 25px;
  margin-right: auto;
  margin-left: auto;
}

.post {
  display: flex;
  flex-direction: column;
  width: 778px;
}

.post_content {
  display: flex;

  align-items: flex-start;

  margin-top: 0;
}
.post_content:nth-child(n + 2) {
  margin-top: 61px;
}
.post_img-content {
  display: inline-block;
  background-color: #ffffff;
  height: 100%;
  width: 389px;
  min-width: 333px;
  min-height: 200px; /* чтобы не ломалась вертска */
  margin-right: 30px;
}
.post_content_first {
  padding: 5px 0 0 0;
}

.post_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 25px;

  height: 100%;
}

.subject_post {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "OpenSans-Bold";

  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
  line-height: 1.4;
  font-weight: 800;
  font-style: bold;
}

.title_post_item:nth-child(n + 2) {
  margin-left: 20px;
}

.title_post_item:hover {
  text-decoration: underline;
}

.post_title {
  margin-top: 3px;
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  line-height: 1.26;
  font-weight: 800;
  font-style: bold;
  font-family: "OpenSans-Bold";
}

.post_title:hover {
  color: #b59f5b;
}

.add_info {
  display: inline-block;
  padding: 0;

  margin-top: 26px;
  font-size: 12px;
  /*   line-height: 1.3; */
  margin-bottom: 47px;
}
.time_post {
  font-size: 11px;
  color: #888888;
  font-weight: 200;
  font-style: normal;
}
.author_post {
  margin-left: 10px;
  color: #000000;
  font-weight: 600;
  font-style: bold;
  font-family: "OpenSans-Bold";
}
.content_post > p {
  color: #0f0d0e;
  font-size: 15px;
  line-height: 1.26;
  margin: 0;
}

.content_post > p:not(:first-child) {
  margin-top: 15px;
}

/* Боковое меню */
.side_bar {
  width: 271px;
  margin: 0 auto;
  padding: 0;
}

.new_post {
  margin: 0;
}

.heading_new_post {
  text-align: center;
  font-family: "OpenSans-Bold";
  font-weight: bold;
  font-weight: 800;
  font-size: 14px;
  color: #0f0d0e;

  text-transform: uppercase;
}
.heading_new_post:hover {
  color: #e1d9bd;
}

.heading_new_post::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  margin: 10px auto 0;
}

.new_post-item {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: top;
  padding: 0;
}
/* работает */
.new_post-item:nth-child(2) {
  margin-top: 28px;
  margin-bottom: 0;
}

.new_post-item:nth-child(n + 3) {
  margin-top: 22px;
}
.img_new-post {
  display: inline-block;
  background-color: #eff6f1;
  min-width: 70px;
  margin-right: 20px;
  margin-left: 0;
}

.new_post-content:not(:first-child) {
  margin: -5px 0 0 0;
  padding: 0;
}

.time_post-item {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #888888;
  font-weight: 200;
  font-style: normal;
}
.new_post-title {
  margin: 0;
  text-transform: uppercase;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #0f0d0e;
  line-height: 1.2;
  font-weight: 800;
  font-style: bold;
  padding: 0;
}
.new_post-title:hover {
  color: #b59f5b;
}
.new_post-title-first {
  margin-top: 10px;
}
/* Поиск */

.search {
  display: flex;
  width: 100%;
  height: 48px;

  margin-top: 62px;
}
.search-group {
  width: 100%;
}
.field {
  box-sizing: border-box;
  min-width: 222px;
  width: 100%;
  /* max-width: 360px; */
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding: 5px 20px;

  font-size: 13px;

  line-height: 2.9;
  font-weight: 400;
  font-style: normal;
}

.field:focus {
  outline: 1px solid #e1d9bd;
}

.button_search {
  min-width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;

  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.button_search:hover {
  background-color: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Рассылка */

.distribution {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;

  margin-top: 55px;
}
.distribution_heading {
  font-family: "OpenSans-Bold";
  font-style: bold;
  font-weight: 800;
  /*     position: relative; */
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  text-transform: uppercase;
  padding: 3px auto 20px auto;

  margin-bottom: 23px;
}
.distribution_heading::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  opacity: 0.4;
  margin: 10px auto 0;
}
.field_distribution {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding: 17px 20px 10px;

  font-size: 13px;
  line-height: 3;
  font-weight: 400;
  font-style: normal;

  margin-bottom: 22px;
}
.field_distribution:focus {
  outline: 1px solid #e1d9bd;
}

.button_distribution {
  font-family: "OpenSans-Bold";
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.button_distribution:hover {
  background-color: #323232;
}
/* Теги */
.tag_topics {
  text-align: center;
  font-family: "OpenSans-Bold";
}
.tag_topics-title {
  font-weight: 800;

  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 27px;
}
.tag_topics-title::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  opacity: 0.4;

  margin: 10px auto 0;
}
.tags_item {
  display: flex;

  flex-wrap: wrap;
  padding: 0.1px;
  margin-top: 20px;
}

.tags_item_list {
  /*   margin-left: 3px; */
  margin-right: 3px;
  margin-bottom: 5px;
  /*   box-sizing: content-box; */
}

.tags_item_link {
  display: block;
  text-align: center;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-weight: 800;
  font-style: bold;
  font-size: 12px;
  color: #0f0d0e;

  border: 3px solid #eeeeee;
  padding: 3px 13px;
}
.tags_item_link:hover {
  border-color: #b59f5b;
}
/* Темы  */

.categorias {
  font-family: "OpenSans-Bold";
  margin-top: 54px;
}
.title-box {
  text-align: center;
}
.categorias_topics-title {
  font-weight: bold;
  font-weight: 800;

  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.categorias_topics-title::after {
  content: "";
  display: block;
  background-color: #e1d9bd;
  height: 3px;
  width: 66px;
  opacity: 0.4;

  margin: 10px auto 0;
}

.categorias_item {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}
.categorias_item_link {
  font-size: 15px;
}
.categorias_item_list {
  display: flex;
  /*   width: 271px; */
  border-bottom: 1px solid #eeeeee;
  padding: 13px 0;
}
.categorias_item_list:hover {
  color: #baa566;
}
.categories-list_counter {
  /*   display: inline-block; */
  font-weight: bold;
  font-weight: 800;
  margin-left: 2px;
  vertical-align: super;
  font-size: 12px;
  color: #baa566;
}

/* Наша продукция */
.products {
  width: 100%;
  /* min-width: 670px; */
  margin-top: 56px;
}
.header_products {
  text-align: center;
}
.product_title_text {
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
}
.product_title_text::after {
  content: "";
  display: block;
  height: 3px;
  background: #b59f5b;
  width: 66px;
  margin: 10px auto 0;
  opacity: 0.4;
}

.products_items {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  padding: 0 4%;
}

.product {
  /* width: calc(100% / 3); */

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}
.img_product {
  min-height: 205px;
  min-width: 295px;
  background-color: #ffffff;
}
.subtitle_product {
  font-family: OpenSansBold, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0f0d0e;
}

.product_description {
  font-family: OpenSansBold, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #0f0d0e;
  margin-top: 10px;
  line-height: 1.3;
}

.product-text {
  font-family: OpenSansBold, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #b59f5b;
  text-decoration: underline;
}
.product-text:hover {
  color: #888888;
}

.product_content {
  box-sizing: border-box;
  margin-top: -10px;
  min-height: 220px;
  width: 300px;
  outline: 3px solid #e1d9bd;
  outline-offset: 22px;
  padding: 10% 0 0 0;
}

.product_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.price_product_box {
  display: flex;
  flex-direction: column;
}

.product_price_old {
  text-decoration: line-through;
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0f0d0e;
}

.product_price-value,
.product_rub {
  font-family: OpenSansBold, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0f0d0e;
  vertical-align: middle;
  line-height: 20px;
}
.product_price-none {
  color: #ffffff;
}
.product_button {
  width: 141px;
  height: 47px;
  text-align: center;
  font-family: OpenSansBold, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.product_button:hover {
  background-color: #000000;
}
/* Подвал */
.footer {
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 25px;
}
/* .footer_page {
} */

.footer_social-services {
  padding: 30px 0;
  background-color: #f4f7f6;
}

.footer_social-services-list {
  display: flex;
  justify-content: center;
}

.footer_social-services-item:nth-child(n + 2) {
  margin-left: 24px;
}

.footer_social-services-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.footer_social-services-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.footer_social-services-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.footer_social-services-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.footer_copyrights {
  margin-top: 65px;
  text-align: center;
}

.footer_copyrights-link {
  font-size: 12px;
  color: #999999;
  font-weight: 800;
  font-style: bold;
}

/* Popup */
.wrapper_popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 330px;
  height: 518px;
  padding: 48px 30px 20px;
  position: fixed;
  top: 245px;
}
.popup_title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: OpenSansBold, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}
.popup_title:after {
  content: "";
  display: block;
  height: 3px;
  background: #b59f5b;
  width: 66px;
  margin: 10px auto 0;
}
.popup_close {
  position: absolute;
  right: 1px;
  top: -29px;
  bottom: 5px;
  cursor: pointer;
}

.popup_svg {
  width: 17px;
  height: 17px;
}

.form {
  margin-top: 25px;
}
.select_group {
  position: relative;
}
.text_select {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  color: #0f0d0e;
  padding: 0;
}
.text_select-second {
  margin-bottom: 4px;
}
.attendance {
  display: inline-block;
  width: 100%;
  height: 50px;
  /* margin-top: 11px; */
  padding: 6px 25px 10px 18px;
  border: none;
  background-color: #f3f7f6;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  position: relative;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
.attendance:focus {
  border: 2px solid #b59f5b;
}
.form_arrows {
  position: absolute;
  width: 10px;
  height: 16px;
  right: 14px;
  top: 40px;
  z-index: 5;
}

.radio_box {
  margin-top: 8px;
  margin-bottom: 30px;
}
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}
.checkbox_text {
  font-size: 13px;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  color: #0f0d0e;
}
.checkbox_text::before {
  content: "";
  display: inline-block;

  width: 17px;
  height: 17px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;

  vertical-align: middle;
  margin-right: 5px;
}

.checkbox_group {
  display: inline-block;
  font-size: 14px;
}

.checkbox_group:nth-child(n + 2) {
  margin-left: 14px;
}

.checkbox:checked + .checkbox_text::before {
  background-image: url("../svg/form-circle.svg");
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 130px;
  background-color: #f3f7f6;
  padding: 20px;
  font-size: 12px;
  font-weight: 400;
  resize: none;
  outline: none;
  overflow: auto;
  border: none;
  cursor: pointer;
  font-weight: normal;
}
.textarea:focus {
  border: 1px solid #b59f5b;
}
.button_form {
  display: block;
  margin-top: 22px;
  background-color: #b59f5b;
  width: 100%;
  height: 50px;
  text-align: center;

  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.button_form:hover {
  background-color: #000000;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #000000;
    padding-bottom: 105px;
  }
  .wrap {
    justify-content: space-between;
    padding: 42px 20px;
  }
  .menu_logo {
    width: 158px;
  }
  .menu_list {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .header_title {
    width: 75%;
    margin-top: 40px;
    font-size: 36px;
  }
  .trend_title {
    font-size: 18px;
  }
  .trend_items_container {
    margin-top: 20px;
  }
  .trend_item {
    width: calc(100% / 2 - 3px);
    min-height: 247px;
  }

  .top_trend {
    font-size: 16px;
  }
  .title_content {
    margin: 24px 20px 15px 20px;
    padding: 30px 25px 28px 32px;
  }

  .wrp {
    margin: auto;
    /* width: 90%; */
  }
  .aside_content {
    margin-top: 48px;
  }
  .content {
    justify-content: flex-start;
    gap: 1%;
    padding: 45px 0 0 35px;
  }
  .post {
    width: 53%;
  }
  .post_content {
    flex-direction: column;
  }
  .post_content:nth-child(n + 2) {
    margin-top: 42px;
  }
  .post_content:not(:last-child) {
    border-bottom: 3px solid #eeeeee;
  }
  .post_title {
    font-size: 18px;
  }
  .add_info {
    margin-top: 30px;
    margin-bottom: 29px;
  }
  .post_info {
    padding-bottom: 20px;
  }
  .products {
    margin-top: 45px;
  }
  .products_items {
    flex-wrap: wrap;
    padding: 0 6%;
    column-gap: 26px;
    justify-content: scenter;
  }
  .product {
    width: calc((100% / 2) - 16px);
  }
  .product:nth-child(n + 3) {
    margin-top: 50px;
  }
  .product_title_text {
    font-size: 18px;
  }
  .product_content {
    margin-top: -13px;
    outline-offset: 19px;
    padding: 10% 0 0 0;
  }
  .product_description {
    margin-top: 0;
    line-height: 1.5;
  }
  .content_post {
    margin-bottom: 2px;
  }
  .post_img-content {
    width: 100%;
    margin: 0;
  }
  .subject_post {
    margin-top: 17px;
  }
  .footer {
    padding: 0 35px;
    margin-top: 50px;
  }
  .footer_social-services {
    padding: 25px 0 25px 7px;
  }
  .footer_copyrights {
    margin-top: 45px;
  }

  .popup {
    padding: 43px 28px 34px;
    top: 200px;
  }
  .header_popup {
    margin-top: 7px;
  }
  .popup_title {
    font-size: 16px;
  }

  .form {
    margin-top: 27px;
  }

  .text_select {
    margin-bottom: 10px;

    padding: 0;
  }
  .checkbox_text::before {
    width: 25px;
    height: 25px;
    background-size: 25px;
    margin-right: 5px;
  }
  .attendance {
    height: 50px;

    padding: 6px 25px 10px 18px;

    margin-bottom: 30px;
  }
  .popup_svg {
    width: 25px;
    height: 25px;
  }
  .popup_close {
    top: -38px;
  }
  .checkbox_text::before {
    content: "";
    display: inline-block;

    width: 25px;
    height: 25px;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;

    vertical-align: middle;
    margin-right: 5px;
  }
  .radio_box {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .checkbox_group:nth-child(n + 2) {
    margin-left: 29px;
  }
  .button_form {
    margin-top: 22px;
  }
}
@media (min-width: 641px) and (max-width: 751px) {
  .products_items {
    flex-wrap: wrap;
    padding: 0 3%;
  }
  .product {
    width: 100%;
    padding: 0;
  }

  .product:nth-child(n + 2) {
    margin-top: 43px;
  }
  .product_content {
    min-width: 180px;
    margin-top: -15px;
    min-height: 140px;

    outline: 3px solid #e1d9bd;
    outline-offset: 14px;
    padding: 10% 7px 12px;
  }
}
@media (max-width: 640px) {
  p {
    font-size: 14px;
  }
  .header {
    background-image: url("../img/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #000000;
    padding: 0 15px 210px;
  }
  .wrap {
    justify-content: space-between;
    padding: 27px 0;
  }
  .menu_logo {
    display: none;
  }

  .menu_list {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .menu_logo-second {
    display: block;
    width: 267px;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
  }
  .header_title {
    width: 100%;
    font-size: 26px;
    margin-top: 35px;
    line-height: 1.4;
  }
  .wrp {
    padding-left: 15px;
    padding-right: 15px;
  }
  .trend_items_container {
    margin-top: 27px;
  }
  .trend_item {
    min-height: 231px;
    width: 100%;
    flex-wrap: wrap;
  }

  .aside_content {
    margin-top: 49px;
  }
  .trend_title {
    font-size: 16px;
    line-height: 0.5;
  }
  .title_content {
    margin: 0 16px 15px 14px;
    padding: 33px 5px 30px 20px;
    line-height: 0.9;
  }
  .top_trend {
    font-size: 16px;
  }

  .content {
    justify-content: flex-start;
    gap: 5%;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  .post {
    width: 100%;
  }
  .post_content {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
  }
  .post_content:nth-child(n + 2) {
    margin-top: 33px;
  }
  .post_title {
    font-size: 16px;
    margin-top: 7px;
  }
  .subject_post {
    margin-top: 10px;
  }
  .content_post > p:not(:first-child) {
    margin-top: 9px;
  }

  .add_info {
    margin-bottom: 16px;
    margin-top: 15px;
  }
  .post_img-content {
    width: 100%;
    margin: 0;
  }
  /* .post_info {
    padding: 0 0 23px;
  } */

  .side_bar {
    width: 100%;
    margin: 39px auto 0;
    padding: 0;
  }
  .new_post-title-first {
    margin-top: 7px;
  }
  .distribution {
    margin-top: 38px;
  }

  .tag_topics-title {
    margin-top: 38px;
  }
  .categorias {
    margin-top: 38px;
  }
  .products {
    margin-top: 0;
  }
  .product_title_text {
    font-size: 16px;
  }
  .products_items {
    flex-wrap: wrap;
    padding: 0 3%;
  }
  .product {
    width: 100%;
    padding: 0;
  }

  .product:nth-child(n + 2) {
    margin-top: 43px;
  }
  .product_content {
    min-width: 180px;
    margin-top: -15px;
    min-height: 140px;

    outline: 3px solid #e1d9bd;
    outline-offset: 14px;
    padding: 10% 7px 12px;
  }

  .footer {
    margin-top: 60px;
  }
  .footer_copyrights {
    margin-top: 40px;
  }
  .popup {
    max-width: 386px;

    margin: 0 15px;
    padding: 27px 25px;
    top: 55px;
  }

  .popup_title {
    font-size: 16px;
  }

  .form {
    margin-top: 27px;
  }

  .text_select {
    margin-bottom: 10px;

    padding: 0;
  }
  .checkbox_text::before {
    width: 25px;
    height: 25px;
    background-size: 25px;
    margin-right: 5px;
  }
  .attendance {
    height: 50px;

    padding: 6px 25px 10px 18px;

    margin-bottom: 30px;
  }
  .checkbox_text::before {
    content: "";
    display: inline-block;

    width: 25px;
    height: 25px;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;

    vertical-align: middle;
    margin-right: 5px;
  }
  .radio_box {
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .checkbox_group:nth-child(n + 2) {
    margin-left: 29px;
  }
  .button_form {
    margin-top: 22px;
  }
}
